/**
 * Better Grade Font.
 * A font that simulates handwritten cursive text.
 */
@font-face {
  font-family: 'Better Grade';
  src: local('Better Grade'),
    url(./../assets/fonts/Better Grade.ttf) format('truetype');
}

/**
 * PTRegular.
 */
@font-face {
  font-family: 'PTRegular';
  src: local('PTRegular'),
    url(./../assets/fonts/PTRegular.ttf) format('truetype');
}

/**
 * SourceCodePro.
 */
@font-face {
  font-family: 'SourceCodePro';
  src: local('SourceCodePro'),
    url(./../assets/fonts/SourceCodePro.ttf) format('truetype');
}
